<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
</head>
<body>
	<nav>
    	<header><logo></logo></header>
        <ul>
        	<a href="/"><li><sales class="icon"></sales>Kartenverkauf</li></a>
       		<a href="/events/"><li><events class="icon"></events>Veranstaltungsverwaltung</li></a>
        	<li class="highlight"><staff class="icon"></staff>Personalverwaltung</li>
        	<a href="/resources/"><li><resources class="icon"></resources>Ressourcen</li></a>
       		<a href="/finance/"><li><finance class="icon"></finance>Finanzverwaltung</li></a>
        </ul>
        <a href="#" class="redbutton">×</a>
    </nav>
    <main>
		
		<list>
			<div class="item">
				<b><a class="name">Mitarbeiter</a></b>
				<a class="add" href="add">+</a>
			</div>
			
			<div class="item" th:each="s : ${staffCatalog}" th:if="${s.getExpired() == false}">
				<a class="name" th:href="${'/staff/' + s.getUserAccount().getId()}" th:text="${s.getUserAccount().getFirstname() + ' ' + s.getUserAccount().getLastname()}"></a>
				<a class="delete" th:href="${'/staff/delete/' + s.getUserAccount().getIdentifier()}" >×</a>
			</div>	
		</list>
		
		<list>
			<div class="item">
				<b><a class="name">Ensembles</a></b>
			</div>
			
			<div class="item" th:each="e : ${ensembleCatalog}">
				<a class="name" th:href="${'/staff/ensemble/' + e.getName() }" th:text="${e.getName()}"></a>
			</div>	
		</list>
			
    </main>
</body>
</html>
